:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.normal { background-color: #A8A878; color: white; }
.fire { background-color: #F08030; color: white; }
.water { background-color: #6890F0; color: white; }
.electric { background-color: #F8D030; color: #333; }
.grass { background-color: #78C850; color: white; }
.ice { background-color: #98D8D8; color: #333; }
.fighting { background-color: #C03028; color: white; }
.poison { background-color: #A040A0; color: white; }
.ground { background-color: #E0C068; color: #333; }
.flying { background-color: #A890F0; color: white; }
.psychic { background-color: #F85888; color: white; }
.bug { background-color: #A8B820; color: white; }
.rock { background-color: #B8A038; color: white; }
.ghost { background-color: #705898; color: white; }
.dragon { background-color: #7038F8; color: white; }
.dark { background-color: #705848; color: white; }
.steel { background-color: #B8B8D0; color: #333; }
.fairy { background-color: #EE99AC; color: #333; }